Read and explain to the rest of the team: RFC

> Please read the RFC and do some tests with telnet and NGINX before starting this project.
> Even if you don’t have to implement all the RFC, reading it will help you develop the required features.

An RFC is a formal document used primarily in information technology and telecommunications to describe standards, protocols, procedures and best practices.

Examples RFC:
RFC 791 – IP – Internet Protocol (basics of how the internet works).
RFC 2616 (1999 r.) – HTTP/1.1 – Describes how the browser communicates with the server.
RFC 1034/1035 – DNS – domain name system.
RFC 5322 – e-mail format
RFC 793 – TCP – How data is shared and transmitted.
RFC 6265 – Cookies in HTTP – logged, session.
RFC 3875 – CGI – CGI script in weblogged servers, session.

New RFC(2022 r.) replacing old RFC 2616:
RFC 9110  - Semantics HTTP – metods, statuses, headings.
RFC 9112  – HTTP/1.1 – TCP, chunking, keep-alive.
RFC 9111 – cache.
RFC 9205 – URL and resource identifiers.


TCP/IP
Aplication (OSI 5-7) – HTTP, SMTP, DNS
Transport (OSI 4) – TCP, UDP
Internet (OSI 3) – IP
Physical (OSI 1-2)  – Ethernet, Wi-Fi

TCP is responsible for dividing the data into segments, then the data passes through the physical layer.
TCP ensures that data arrives complete, in the right order, and that errors are detected and corrected.

IP vs TCP
An IP is a letter carrier who drops letters in a mailbox(without acknowledgment of receipt). TCP is a courier with acknowledgment of receipt.


(ang. Request for Comments – dosłownie: prośba o komentarze)

https://www.rfc-editor.org/info/rfc9112